<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div>
    <ion-title class="ion-padding-top ion-text-center">
      Asistencias
    </ion-title>
  </div>
  
  <div>
    <mat-expansion-panel hideToggle *ngFor= "let clase of clases">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{clase.nombreClase}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Total de Clases: {{clase.cantTotalClases}}</p>
      <p>Días Asistidos: {{clase.diasAsistidos}}</p>
    </mat-expansion-panel>
  </div>

</ion-content>